
<header>

<div id="logo">


    <h1> lights, <br />  camera,  <br />
     <strong><em>Chicago!</em></strong><br /> <img src="/assets/newstar.png" height="30" width="27" />
    <img src="/assets/newstar.png" height="30" width="27" /> <img src="assets/newstar.png" height="30" width="27" /> <img src="assets/newstar.png" height="30" width="27" /></h1>

</div>
</header>

<h1>Display#index</h1>

<div id="main">

<% @movies.each do |movie| %>
  <div class="entry">


  <ul>
 <li><strong>title</strong>: <%= movie.title %></li>
 <li><strong>description</strong>:   <%= sanitize(movie.description) %></li>
 <li><strong>trvia</strong>:   <%= sanitize(movie.trivia) %></li>
 <li><strong>location</strong>:   <%= sanitize(movie.location) %></li>
  </ul>
  </div>

<% end %>
</div>

<div id="blurb">
<p class="blurb">Find locations where Chicago movies were filmed!</p>

  <!-- this find button is just a placeholder for now -->
   <section id="find">
      <input type="text" placeholder="enter keyword" id="term" />
      <button id="search">Find movie </button>
   </section>
</div>

  <footer>
	<ul>
	<li>About</li> <li>Contact</li> <li>Showtimes</li>  <li>News</li>
   </footer>









<p>Find me in app/views/display/index.html.erb</p>
