<h1>Display#index</h1>

<% Movies.limit(1).order("RAND()") %>
  <div class="entry">
    <h3><%= movie.title %></h3>
    <%= sanitize(movie.description) %>
    <%= sanitize(movie.trivia) %>
    <%= sanitize(movie.location) %>
  </div>
<% end %>
<p>Find me in app/views/display/index.html.erb</p>
