CTYPE html>
<html>
<head>
</head>

 <ul>
    <% @movies.each do |movie| %>

  <li><%= link_to @movies ,

    :action => 'show', :title => movie.title   %></li>

    :action => 'show', :description  => movie.description   %></li>
    :action => 'show', :trivia  => movie.trivia   %></li>


  <% end %>
  </ul>

</html>

